@import "includes.scss";

#homePage {
    background-image: url("../img/bwSkyline2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100% - $navHeight;
}

body {
    font-family: $bodyFonts;
    @extend %marginReset;
    background: $lightblue;
}

h1 {
    font-family: $titleFonts;
    margin-left: 5%;
}

h2 {
    text-align: center;
    font-size: 1.4em;
    font-family: $subheadings;
}


h3 {
    font-family: $subheadings;
    text-decoration: underline;
        font-size: 1.3em;
}

h4 {
    font-family: $subheadings;
    font-size: 1.2em;
}
#wrapper {
    margin: 0;
    height: $navHeight;
    text-align: center;
    background: $darkgray;
    @extend %marginReset;
    li {
        display: inline-block;
        list-style-type: none;
        margin-top: 2%;
        a {
            padding: 0.5em;
            text-decoration: none;
            color: white;
            &:hover, &:focus {
                color: gray;
                transition: 500ms;
            }
        }
    }
}

.odd,.even {
    @include squareText;
    p,li {
        font-size: 1.1em;
    }
}

#drawing {
    text-align: center;
    @include squareText;
}
#arrows {
    text-align: center;
    h2{
        display: inline-block;
        width: 80%;
    }
    a, a:active {
        color: black;
    }
    #left-arrow {
        float: left !important;
        font-size: $arrowSize;
    }
    #right-arrow {
        float: right !important;
        font-size: $arrowSize;
    }
}
#clearFix {
    clear:both;
}
#video {
    background: purple;
    width: 50%;
    height: 60%;
    margin: 0 auto;
    margin-top: $navHeight / 3;
    video {
        background: black;
        width: 100%;
        height: 100%;
    }
}
.copyright {
    text-align: right;
    margin-right: 2%;
}
